@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

main {
    background-color: #F0eded;
}

.header-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    height: 54px;
    width: 100%;
    max-width: 935px;
    background-color: white;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon {
    width: 22px;
    height: 22px;
}

hr {
    width: 1px;
    height: 30px;
    border: none;
    background-color: #DBDBDB;
}

.icons-container {
    display: flex;
    gap: 20px;
}

#input-search {
    width: 215px;
    height: 28px;
    background-color: #FAFAFA;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    padding-left: 0 10px;
    text-align: center;
}

.line {
    width: 100%;
    height: 1px;
    background-color: #DBDBDB;
}

.main-content {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.feed{
    display: flex;
    flex-direction: column;
}
.stories{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    margin-top: 30px;
}

.stories-container {
    background-color: #FAFAFA;
    display: flex;
    width: 614px;
    padding: 20px 25px;
    padding-bottom: 40px;
    gap: 25px;
    overflow-x: auto;
    border: 2px solid #DBDBDB;
}

.story {
    display: flex;
    flex-direction: column;
    width: 55px;
    font-size: 12px;
    align-items: center;
}
.story p{
    margin-top: 6px;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ring {
    width: 66px;
    height: 66px;
    border-radius: 50%;
    padding: 5px;
    background-image: url('img/stories_background.jpg');
    background-size: contain;
}

.img-stories {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: white; /* evita transparência estranha */
}

.sidebar-container {
    display: flex;
    flex-direction: column;
    width: 293px;
    margin-left: 30px;
}
.sidebar-head{
    display: flex;
    align-items: center;
    margin-top: 60px;
    gap: 20px;
}
.sidebar-head p{
    font-size: 14px;
    font-weight: 500;
}
span{
    color: #8E8E8E;
}
.sidebar-head span{
    font-size:14px;
    font-weight: 300;
}
.sidebar-mid{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 500;
    margin: 30px 0;
}
.for-you{
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}
.for-you p{
    font-size: 14px;
    font-weight: 500px;
}
.for-you span{
    font-size: 12px;
    font-weight: 400;
    margin-top: 4px;
}
.for-you button{
    margin-left: auto;
    border: none;
    font-size: 12px;
    font-weight: 500;
    color: #3897f0;
}
.sidebar-footer{
    font-size: 11px;
    font-weight: 400;
    color: #c7c7c7;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.posts{
    display: flex;
    flex-direction: column;
    margin-top: 24px;
}
.post{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 614px;
    background-color: #FAFAFA;
    border: 2px solid #DBDBDB;
    margin-bottom: 36px;
}
.post-top{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px 20px 10px 20px;
}
.post-icon{
    width: 22px;
    height: 22px;
    margin: 0 4px;
}
.post-icon__top{
    margin-left: auto;
    width: 16px;
    height: 16px;
}
.post-icon__bottom{
    margin-left: auto;
    padding: 0 20px;
    width: 22px;
    height: 22px;
}
.post-text__top{
    font-size: 14px;
    font-weight: 500;
    color: #262626;
}
.post-logo{
    width: 32px;
    height: 32px;
}
.post-bottom{
    display: flex;
    gap: 10px;
    margin-left: 15px;
}
.post-bottom__img{
    width: 20px;
    height: 20px;
}
.post-bottom__info{
    display: flex;
    gap: 5px;
    padding: 0 20px 10px 20px;
    align-items: center;
}
.post-bottom__text{
    font-size: 14px;
    font-weight: 300;
    color: #000000;
}
strong{
    font-weight: 500;
}
.footer{
    display: none;
}
@media (max-width: 934px) {
    .sidebar-container{
        display: none;
    }
    .posts{
        margin-left:auto ;
        margin-right: auto;
    }
}
@media (max-width: 614px) {
    .header-container{
        padding: 0 10px;
    }
    .logo-container{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .logo_insta{
        margin: 0 auto;
    }
    #input-search{
        display: none;
    }
    .logo-container hr{
        display: none;
    }
    .posts{
        width: 100%;
        margin-top: 0;
        margin-bottom: 16px;
    }
    .stories{
        margin-top: 0;
        background-color: none;
    }
    .heart, .compass, .person{
        display: none;
    }
    .footer{
        display: flex;
        justify-content: space-around;
        background-color: #FAFAFA;
        border: 2px solid #DBDBDB;
        position: fixed;
        height: 54px;
        bottom: 0;
        width: 100%;
    }
    .footer-icons__div{
        display: flex;
        align-items: center;
        gap: 115px;
    }
    .footer-icons{
        width: 22px;
        height: 22px
    }
}


