@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #f0eded;
}

.header-container {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    align-items: center;
    height: 54px;
    width: 1250px;
    background-color: white;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon {
    width: 22px;
    height: 22px;
}

hr {
    width: 1px;
    height: 30px;
    border: none;
    background-color: #DBDBDB;
}

.icons-container {
    display: flex;
    gap: 20px;
}

#input-search {
    width: 215px;
    height: 28px;
    background-color: #FAFAFA;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    padding-left: 0 10px;
    text-align: center;
}

.line {
    width: 100%;
    height: 1px;
    background-color: #DBDBDB;
}

.main-container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.stories-container {
    background-color: #FAFAFA;
    margin-top: 20px;
    display: flex;
    width: 614px;
    padding: 20px 25px;
    gap: 25px;
    overflow-x: auto;
    border: 2px solid #DBDBDB;
}

.story {
    display: flex;
    flex-direction: column;
    width: 55px;
    font-size: 12px;
    text-align: center;
}
.story p{
    margin-top: 6px;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ring {
    width: 66px;
    height: 66px;
    border-radius: 50%;
    padding: 5px;
    background-image: url('img/stories_background.jpg');
    background-size: contain;
}

.img-stories {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: white; /* evita transparência estranha */
}